* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#fff;    

}


a {
    color: white;
    font-style: italic;
}

/* Stage */

#desktopStage{
    width:1000px;
    height:840px;
    margin: auto;
    position: relative;
    background-color: #006d9e;
    background-image: url('../images/Mountains_Full.png');
    background-position: 0 10px;
    background-repeat: no-repeat;

}

#snowLayer{
    width:1000px;
    height:840px;
     background-image: url('../images/snowh.png'), 
                      url('../images/snow3q.png'), 
                      url('../images/snow2l.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    position: absolute;
    z-index: 2;
}

/* Scene 1 */

#mountains{
    background-image: url('../images/Mountains_Full2.png');
    width: 1000px;
    height: 430px;
    position: absolute;
    bottom:0px;
    z-index: 0;
}

.hood{
    background-image: url('../images/houses.png');
    background-repeat: repeat-x;
    width: 4000px;
    height: 263px;
    position: absolute;
    bottom: 219px;
    z-index: 3;
}


#houses{
    background-image: url('../images/houses.png');
    background-repeat: repeat-x;
    width: 4000px;
    height: 263px;
    position: absolute;
    bottom: 219px;
    z-index: 3;
    -webkit-animation: houses 10s linear infinite;
    -moz-animation: houses 10s linear infinite;
    -ms-animation: houses10s linear infinite;
    animation: houses 10s linear infinite;
}


#train{
    background-image: url('../images/train.png');
    background-repeat: repeat-x;
    width: 3000px;
    height: 140px;
    position: absolute;
    bottom: 200px;
    z-index: 4;
    -webkit-animation: train 6s linear infinite;
    -moz-animation: train 6s linear infinite;
    -ms-animation: train 6s linear infinite;
    animation: train 6s linear infinite;
}



#ground{
    background-image: url('../images/ground.png');
    width: 1000px;
    height: 167px;
    position: absolute;
    bottom:-1px;
    z-index: 99;
}


#staticHouses{
    height:600px;
    position: absolute;
    bottom:10px;
}

/* Snowfall */



/*Keyframes*/

@keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-moz-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-webkit-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow { 
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}








@keyframes houses { 
    0% { background-position:  -3000px 0px}

    100% { background-position: 0px 0px}
}

@-moz-keyframes houses { 
    0% { background-position: 0px 0px}

    100% { background-position: 0px 0px }
}

@-webkit-keyframes houses { 
    0% { background-position: 0px 0px}

    100% { background-position: 3000px 0px }
}

@-ms-keyframes houses { 
    0% { background-position: 0px 0px}

    100% { background-position: 3000px 0px}
}




@keyframes train { 
    0% { background-position:  0px 0px}

    100% { background-position: 3000px 0px}
}

@-moz-keyframes train { 
    0% { background-position: 0px 0px}

    100% { background-position: 0px 0px }
}

@-webkit-keyframes train { 
    0% { background-position: 0px 0px}

    100% { background-position: 3000px 0px }
}

@-ms-keyframes train { 
    0% { background-position: 0px 0px}

    100% { background-position: 3000px 0px}
}



.slider {
        position: relative;
        width: 1000px;
        height: 840px;
        overflow: hidden;
}
        
        .slides {
                height: 100%;
                
                /* Simple clear fix */
                overflow: hidden;
                
                /**        
                 * Prevent blinking issue
                 * Not tested. Experimental.
                 */
                -webkit-backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;

                /**
                 * Here is CSS transitions 
                 * responsible for slider animation in modern broswers
                 */
                -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
                   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
                    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
                     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
                        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);

        }
        
                .slide {
                        float: left;
                        clear: none;
                        width:1000px;
                        height: 640px;
                }

